html {
    border-style: none;
    margin: 0;
	padding: 0;
	border: 0;
}

h1 {
    text-align: center;
    color: #fff;
}

h3 h5 {
    margin: 0;
}

#mode {
    float: right;
}

header {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: steelblue;
    height: 100px;
    padding: 10px;
    box-shadow: 0 5px 15px;
}

.cursor {
    cursor: pointer;
}

.plan {
    display: block;
    float: left;
    width: 50%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    max-width: 80%;
}

li {
    padding: 10px;
    margin: 0;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}